<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <metta http-equiv="Content-Type" content="application/xhtml+xml"
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title></title>
    <link rel="stylesheet" scr="https://d3js.org/d3.v4.min.js" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,900" type="text/css">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- this is css -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
    <!-- this is javascript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/style.css" type="text/css">

    <script src="script.js"></script>
    <script src="//d3js.org/d3.v3.min.js"></script>
    <link rel="shortcut icon" href="/images/favicon-16x16.png" type="image/png"/>
    <!-- <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">    <link rel="manifest" href="/manifest.json"> -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript" src="/d3/d3.min.js"></script>
    <script type="text/javascript" src="/d3/d3-tip.js"></script>
    <script type="text/javascript" src="/three/three.js"></script>
  </head>
  <body>
  <div>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="padding-bottom:20px;" align="center">
      <a class="navbar-brand" href="#" style="color:rgb(283,193,71)">Tonalyze</a>
      <img class="logo" src="./images/tonalyze_logo2.png" alt="emotion face" width="25" height="25">
        <ul class="topnav" id="myTopnav">
          <li><a class="#active"><a href="#about">About</a><span class="sr-only">(current)</span></a></li>
          <li><a href="#the_science">The Science</a></li>
          <li><a href="#technologies">Technologies</a></li>

          <li><a href="#getting_started">Getting Started</a></li>
        </ul>
    </nav>
  </div>

  <div class="title-container">
    <!-- <h1 style="color:rgb(42,51,83)" align="center">Check your Tone!</h1> -->
  </div>
  <div class="container">
    <div class="jumbotron">
      <a id="about" class="anchor"></a>
      <h2 style="color:rgb(221,55,93)">About</h2>
      <div class="header">
      <h3 class="colors">Enhance Your tone Intent</h3>
      <img class="logo2" src="./images/tonalyze_logo2.png" alt="emotion face" width="100" height="100">
      <p>
        <blockquote>
          This service uses linguistic analysis to detect and interpret emotions, social tendencies, and language style cues found in text.
        </blockquote>
      </p>
      <p>
        <blockquote>
          What is Lorem Ipsum?
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
          and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </blockquote>
      <p>
    </div>
  </div>

  <div class="container">
    <div class="jumbotron">
      <a id="the_science" class="anchor"></a>
        <h2 style="color:rgb(221,55,93)">The Science</h2>
        <h3 class="colors">Language and Personality</h3>
        <p>
          <blockquote
            cite="http://www.ibm.com/watson/developercloud/doc/tone-analyzer/understanding-tone.shtml">
            What is Lorem Ipsum?
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </blockquote>
        </p>
        <p>
          <blockquote
            cite="http://www.ibm.com/watson/developercloud/doc/tone-analyzer/understanding-tone.shtml">
            What is Lorem Ipsum?
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </blockquote>
        </p>
        <p>
        Currently, only English text can be analyzed.
        </p>
        <!-- <img src="./images/email_tone.png" alt="emotion face"  width="550" height="200"> -->
    </div>
  </div>

  <div class="container">
    <div class="jumbotron">
      <a id="technologies" class="anchor"></a>
      <h2 style="color:rgb(221,55,93)">Technologies</h2>
      <blockquote>
        <img class="pictures" src="./images/chrome.png" alt="chrome" width="100" height="100">
        <img class="pictures" src="./images/d3.png" alt="d3" width="100" height="100">
        <img class="pictures" src="./images/jquery.png" alt="jquery" width="100" height="100">
        <img class="pictures" src="./images/js_html_css.png" alt="js_html_css" width="120" height="100">
        <img class="pictures" src="./images/node.png" alt="node" width="150" height="100">
        <img class="pictures" src="./images/npm.png" alt="npm" width="150" height="100">
        <img class="pictures" src="./images/heroku.png" alt="heroku" width="150" height="100">
        <!-- <img class="pictures" src="./images/json.png" alt="json" width="150" height="400"> -->

        <!-- <img class="pictures" src="./images/example.png" alt="example" width="150" height="100"> -->

      </blockquote>
    </div>
  </div>

  <div class="container">
    <div class="jumbotron">
      <a id="getting_started" class="anchor"></a>
        <h2 style="color:rgb(221,55,93)">Getting Started</h2>
        <h3 class="colors">this is getting started"</h3>
        <p>
          <blockquote>
            What is Lorem Ipsum?
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </blockquote>
        </p>
        <!-- <img class="pictures" src="./images/json.png" alt="json" width="150" height="400"> -->
        <a href="https://accounts.google.com/ServiceLogin?service=mail&passive=true&rm=false&continue=https://mail.google.com/mail/&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1">Chrome Extension</a>
        <!-- <img src="./images/extension.png" alt="emotion face"  width="550" height="200"> -->
    </div>
  </div>

  <hr>
    <footer id="copyright">
      <span class='copy'>Copyright &copy; Risha Allen 2016</span>
      <span class="contact"><a href="https://github.com/rishallen/CapStone2016">Github</a> <span class="divider">•</span> <a href="https://www.linkedin.com/in/risha-allen-00a87b18">LinkedIn</a> <span class="divider">•</span> <a href="mailto:rishallen@gmail.com?Subject=Hey%20Risha" target="_top">Email Me</a></span>
    </footer>
  </body>
</html>
