html, body {
    height:100%;
    background-color: rgb(247, 247, 244);
}

.navbar-default {
    background-color: rgb(23, 191, 196);
    border-color: rgb(23, 191, 196);
    border-radius: 0;
    padding-top: 5px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: rgb(243, 243, 243);
}

/*how to change the color*/
/*.navbar-brand {
    color: rgb(253, 250, 41);
}*/

ul.topnav {

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(23, 191, 196);
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {
  color:rgb(238, 193, 71);
  background-color: rgb(23, 191, 196);
}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

.navbar-brand{
  font-size: 30px;
}
