html, body {
  /*font-family: Verdana;*/
  background-color: rgb(202, 202, 202);
}

.navbar-default {
  background-color: rgb(42, 51, 83);
  border-radius: 0;
  padding-top: 10px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: rgb(243, 243, 243);
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(42, 51, 83);
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {
  color:rgb(221, 55, 93);
}

.navbar-brand{
  font-size: 30px;
  font-family: cursive;
}

.colors{
  color: rgb(29, 16, 85);
  font-size: 25px;
}

a.anchor {
  display: block;
  position: relative;
  top: -95px;
  visibility: hidden;
}

.title-container {
  padding: 45px;
  margin: 20px;
}

.contact {
  text-align: center;
}

.logo {
  float: left;
}

.logo2 {
  float:left;
  padding: 3px;
}

.references {
  font-size: 15px;
}

.link {
  font-size: 16px;
}
